<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="belvg_showroom_new_entry">
        <observer name="ShowroomNewEntryNotifier" instance="BelVG\Showroom\Observer\NewEntryNotifier" />
    </event>
</config>
