<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="showroom" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                <label>Showroom</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" canRestore="1">
                    <label>Enable Showroom Form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
